@keyframes RotatingPag {
    0%{
        transform: rotate(0deg)
    }
    50%{
        transform: rotate(-180deg);
    }
    100%{
        transform:rotate(360deg) ;/*אם הייתי רוצה מצבים באמצע הייתה בפרום עושה 0 אחוז ובטו עושה 100 אחוז*/
    }
}

img{
    width: 50%;
    animation-name: RotatingPag;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

